/* nav{
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;

}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.2em;
  display: inline-block;
  margin: 1.5% 3%;
} */

* {
  box-sizing: border-box;
}


.navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0,0.5);
  /* position: fixed; */
  width: 100%;

}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  font-family:'Montserrat', sans-serif ;
}
mat-icon{
  font-size: auto;
}
@media (max-width:768px){
  .navbar a {
    font-size:16px
  }
  mat-icon{
    font-size: 16px;
  }
}