.cuerpo{
  /* background-size: cover; */
  background-image: linear-gradient(to right,  rgb(225, 141, 251,0.6) 0%,rgb(90, 142, 241,0.6) 100%),url(../../../../assets/img/fondo-vertical.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  font-family:'Montserrat', sans-serif ;
}

.descripcion{
  resize: none;
}

.form-contenido{
  background-image: linear-gradient(to right,  rgb(232, 156, 255) 0%,rgb(90, 142, 241));
  width: 40%;
  margin: 4% auto;
  padding: 1em;
  border-radius: 10px;
text-align: center;
font-family:'Montserrat', sans-serif ;
}
.cajas-dia{
  width: 45% ;
  margin: 1% 2%;
  font-family:inherit ;
}
.cajas{
  width: 95%;
  margin: 1% auto;
  font-family:inherit ;
}
.cajas mat-label{
  color: black;
}
.btn{
  padding: 3%;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}
.is-invalid{
  border: 1px solid #ff0000a6;
}

.advertencia{

font-weight: 600;
  color: #ff0000a6;
}