#portada {
  background-image: linear-gradient(to right, rgb(225, 141, 251, 0.6) 0%, rgb(90, 142, 241, 0.6) 100%), url(../../../assets/img/fondo-escritorio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  padding: 2%;
  
}

#datos {
  width: 60%;
  float: left;
  padding: 1%;
  margin: 2% 0%;
 
}

#foto-port {
  width: 35%;
  float: left;
  text-align: center;
  display: flex;
}

#nombre {
  font-size: 9vh;
  font-weight: 300;
  font-family: 'Abril Fatface', cursive;
}

img {
  /* width: 5vh; */
  margin: 1% auto;
}
ul{
  margin-top:4%;
  display: inline-flex;
  justify-content: space-around;
}
ul li {

  list-style: none;
  margin: 1% 1%;
  font-family: 'Lato', sans-serif;
}

ul li b {
  font-family: 'Montserrat', sans-serif;
}
ul li i{
  margin-right: 1%;
}
.sobre-mi {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  padding: 2% 1% 2% 5%;
  margin: 3% 0% 2% -6%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 90%;
}
.sobre-mi h3{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1%;
}

#foto-port img{
  width: 100%;
}
@media (max-width:768px){
  #datos{  width: 100%;
    float: none;
    padding: 1%;
    margin: 2% 0%;}
}
ul{
  margin-top:4%;
  display: block;
  justify-content: space-around;
}
ul li {

  font-family: 'Lato', sans-serif;
}

.sobre-mi {

  font-size: 15px;

}
#nombre {
  font-size: 7vh;
  font-weight: 300;
  font-family: 'Abril Fatface', cursive;
}